extends layout

block content
	div.container
		h1.text-center China Handbook
		hr
		a.center-block(href='/history' class='btn btn-default btn-lg') Pre-Modern History
		a.center-block(href='/modern' class='btn btn-default btn-lg') Modern China
		a.center-block(href='/literature' class='btn btn-default btn-lg') Chinese Literature