doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title China Handbook
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/functions.js')
  body
    block content