extends layout

block content
  div.container
    div.row
      h1.text-center Pre-Modern History
      a.center-block(href='/main/prehistory' class='btn btn-default btn-lg') Pre-Historic China
      a.center-block(href='/main/preimperial' class='btn btn-default btn-lg') Pre-Imperial China
      a.center-block(href='/main/imperial' class='btn btn-default btn-lg') Imperial China
